<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  {% load bootstrap4 %}
  {% bootstrap_css %}
  <style>
    {% block style_css %}{% endblock %}
    nav{
      background-color: orange;
    }
    
    div#game-cards {
    	row-gap: 1rem;
    }
	
	body{
	margin-bottom: 50px;
}


    footer{
	position:fixed;
	bottom:0;
	width: 100%;
	justify-content: around;

	}
	


  </style>
  <title>GGEz</title>
</head>
<body>
<nav class="one-edge-shadow navbar navbar-light sticky-top navbar navbar-expand-lg text-white">
    <a class="navbar-brand ms-3 text-dark" href="/">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    {% load static %}
    <img src="{% static 'Logo_GGez.png' %}" style="width:50px;height:50px,color:text-light;">GGEz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/cat">Catalogo<span class="sr-only">(current)</span></a>
        </li>
      </ul>

      <ul class=" navbar-nav my-2 my-lg-0">
      	<li class="nav-item active ">
          <a class="nav-link" href="/pedidos">Pedidos<span class="sr-only">(current)</span></a>
      	</li>
        <li class="nav-item active">
          <a class="nav-link" href="/carrito">Carrito 
            <span class="badge badge-success">{{request.session.carrito.keys|length}}</span>
            <span class="sr-only">(current)</span></a>
        </li>

        {% if request.session.cliente %}

        <li class="nav-item active ">
          <a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a>
        </li>
        {% else %}
       
        <li class="nav-item active">
          <a class="nav-link" href="/signup">Signup<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% block content %}{% endblock %}
</body>
<footer>
	<nav class="one-edge-shadow navbar navbar-light sticky-top navbar navbar-expand-lg text-white">
		<div class="col-3">
				<p><a href="/sobreNosotros">Sobre Nosotros</a></p>
			</div>
			<div class="col-3">
				<p><a href="/atencionCliente/">Atención al cliente</a></p>
			</div>
			<div class="col-3">
				<p><a href="/politicaPrivacidad/">Política de privacidad</a></p>
			</div>
			<div class="col-3">
				<p><a href="/politicaEnvio/">Política de envío</a></p>
			</div>


  </nav>

</footer>

</html>
