{% extends 'baseInformacion.html' %}

{% block content %}

<html>
<head>
<style>
.content {
  border: 2px solid gray;
  padding: 8px;
  margin-inline: 5%;
  border-radius: 10px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: orange;
}

h1.p {
  text-align: left;
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: orange;
}
</style>
</head>
<body>

<br>
<div class="content">
  <h1>Sobre nosotros</h1>
  <p></p>
  <h3>¿Quiénes somos?</h3>
  <p>Nostros somos Off the Hook, empresa fundada en Sevilla en 2022. Nuestra sede se encuentra en Calle Monzón, Número 32, Sevilla, España. Nuestro principal servicio es la tienda online GGEz centrada en la venta de videojuegos. Actualmente, centramos nuestros esfuerzos en el comercio online pero estamos abiertos a estudiar propuestas comerciales. Si desea ponerse en contacto con nosotros, puede encontrar toda la información <a href="/atencionCliente">aquí</a>.</p>
  <h3>Nuestra historia</h3>
  <p>Andrés, Joserra, Juanma, Dani y Roberto, cofundadores de Off the Hook, son ávidos jugadores. Su historia comenzó en Sevilla, a principios de la década de 2020, compartiendo piso. Siendo estudiantes, pasaron incontables tardes jugando Dead by Deadlight (de ahí nuestro nombre), Smash Bros, Counter-Strike, League of Legends, por nombrar algunos.<br>
  De hecho, la mayoría de las primeras ideas de negocio se les ocurrieron mientras jugaban. Tras varios intentos creando empresas en otros sectores, nuestros cofundadores decidieron volver a lo que más les gustaba, ¡el juego!. Así es cómo surgimos.</p>
  <h3>¿Qué es GGEz?</h3>
  <p>GGEz es nuestra propuesta de tienda de videojuegos online para los jugadores del hoy y del mañana. Construimos GGEz desde el punto de vista del amante del videojuego (a nosotros también nos encantan) y la dirigimos a todos los amantes de los videojuegos. Se trata de un ambicioso proyecto con el que llegaremos a ser al referencia del mercado de videojuegos gracias a vuestra ayuda.</p>
  <h3>Nuestra misión</h3>
  <p>¡Estamos en la misión de hacer el mundo de los videojuegos más accesible para todos! El futuro de los videojuegos va más allá del entretinimiento y es un privilegio para nosotros ayudar a darle forma. Estamos construyendo una tienda segura, asequible y sostenible para ayudar a todos a descubrir la alegría de los videojuegos.</p>
</div>

</body>
</html>


{% endblock %}