{% extends 'baseInformacion.html' %}

{% block content %}

<html>
<head>
<style>
.content {
  border: 2px solid gray;
  padding: 8px;
  margin-inline: 5%;
  border-radius: 10px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: orange;
}

h1.p {
  text-align: left;
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: orange;
}
</style>
</head>
<body>

<br>
<div class="content">
  <h1>Política de Privacidad</h1>
  <p>Versión 1.0, última modificación 2022-11-26<br>
	En este aviso de privacidad nosotros, Off the Hook, código de empresa 987654321, con la sede en Calle Monzón Nº12, Sevilla, España, explicamos cómo tratamos los datos de carácter personal cuando usted visita nuestra página web GGEz (http://pgpi314.pythonanywhere.com/) y utiliza nuestros servicios. Todos los datos personales son tratados de acuerdo con el Reglamento general de protección de datos (UE) 2016/679 («RGPD”) y las leyes locales del Estado miembro de la UE aplicable y/u otras leyes de protección de datos como la  Ley Orgánica 3/2018.<br>
	En este aviso usted encontrará respuestas a las siguientes preguntas:<br>
	1. cómo utilizamos sus datos;<br>
	2. por cuánto tiempo almacenamos sus datos;<br>
	3. qué derechos usted tiene en lo relativo a los datos personales;<br>
	4. otras cuestiones que usted debe tener en cuenta.<br>
	En caso de cualquier pregunta o si desea ejercer cualquiera de sus derechos indicados en el presente aviso, puede contactar con nosotros a través de una de las vías presentadas en la sección de <a href="/atencionCliente">Atención al cliente</a>.<br>
	Off the Hook tratará todos los datos personales de acuerdo con los siguientes principios de tratamiento de protección de datos:<br>
	- de manera legal, leal y transparente en lo relativo al interesado (legalidad, lealtad y transparencia);<br>
	- los datos se recogerán y tratarán sólo para fines específicos, explícitos y legítimos y no serán tratados posteriormente de una manera que no esté compatible con dichos fines (limitación de la finalidad);<br>
	- garantizar que los datos personales sean adecuados, pertinentes y limitados a lo necesario en relación con los fines para los que se tratan (minimización de datos);<br>
	- garantizar que los datos personales se almacenen en una forma que permita la identificación de los interesados durante un tiempo no superior al necesario para los fines para los que se tratan los datos personales (limitación del almacenamiento);<br>
	Toda y cualquier información tratada por Off the Hook se considera estrictamente confidencial. Toda la información se almacena de manera segura y se accede sólo por personal cualificado y autorizado.<br>
	<br><b>¿Cómo utilizamos sus datos personales?</b><br>
	<br>Tratamos sus datos de la cuenta. Los datos de la cuenta pueden incluir su nombre y dirección de correo electrónico, número de teléfono y otros datos que usted entrega a la hora de hacer el registro, así como la historia de sus compras. Obtenemos estos datos directamente de usted. Tratamos los datos de la cuenta para gestionar nuestra Plataforma, proporcionar nuestros servicios, garantizar la seguridad de nuestra Plataforma y servicios y comunicarnos con usted. La base legal para este tratamiento es la ejecución del contrato celebrado entre usted y nosotros y/o la adopción de las medidas necesarias, a petición de usted, para celebrar dicho contrato, así como nuestro interés legítimo, esto es, la supervisión y la mejora de nuestra Plataforma y nuestros servicios.
	<br>Podemos tratar cualquiera de sus datos personales identificados en este aviso cuando sea necesario para el establecimiento, el ejercicio o la defensa de reclamaciones legales, bien en un procedimiento judicial, bien en un procedimiento administrativo o extrajudicial. La base legal para este tratamiento son nuestros intereses legítimos, a saber, la protección y la afirmación de nuestros derechos legales, sus derechos legales y los derechos legales de otros.
	<br>Podemos tratar cualquiera de sus datos personales identificados en este aviso cuando sea necesario para obtener o mantener la cobertura de un seguro, gestionar riesgos u obtener asesoramiento profesional. La base legal para este tratamiento es nuestro interés legítimo, es decir, la protección adecuada de nuestro negocio contra riesgos.
	<br>Además de las finalidades específicas para las que podemos tratar sus datos personales establecidos en esta sección, también podemos tratar cualquiera de sus datos personales cuando dicho tratamiento sea necesario para el cumplimiento de una obligación legal a la que estamos sometidos o para proteger sus intereses vitales o los intereses vitales de otra persona física.<br>
	<br><b>¿Por cuánto tiempo almacenamos sus datos?</b><br>
	<br>Sus datos personales que tratamos para cualquier propósito o propósitos no se almacenarán durante más tiempo de lo necesario para ese propósito o esos propósitos. En cualquier caso, no se almacenarán durante más de:
	<br>los datos de cuenta se almacenarán durante un máximo de 5 (cinco) años después de su última operación en la cuenta;
	<br>los datos de transacción se almacenarán durante un máximo de 10 (diez) años después de la última provisión de servicios.<br>
	<br><b>Sus derechos</b><br>
	<br>En la presente sección resumimos los derechos que tiene según las leyes de protección de datos. Algunos de los derechos son complejos, por lo que sólo apuntamos los nombres de dichos derechos. Por lo tanto, debe leer las leyes pertinentes y las orientaciones de las autoridades reguladoras para obtener una explicación completa de dichos derechos.
	<br>Sus derechos principales según la ley de protección de datos son los siguientes:
	<br>el derecho de acceso a los datos;
	<br>el derecho de rectificación;
	<br>el derecho a la supresión de sus datos personales;
	<br>el derecho a reclamar ante una autoridad de control;
	<br>el derecho a limitar el tratamiento de sus datos personales.<br>
	<br><b>Datos personales de niños</b><br>
	<br>Nuestra Plataforma y servicios están dirigidos a personas mayores de 16 años o de otra edad según la legislación del respectivo país que le permita asumir la responsabilidad de las obligaciones derivadas de las relaciones contractuales y tenga plena capacidad para emprender acciones legales
	<br>Si tenemos razones para creer que tenemos datos personales de una persona menor de la edad mencionada en nuestras bases de datos sin tener el consentimiento del titular de los derechos de los padres, eliminaremos esos datos personales.
	<br><br><b>Actualización de sus datos</b><br>
	<br>Por favor, comuníquenos si la información personal que tenemos sobre usted necesita ser corregida o actualizada.
	<br><br><b>Modificaciones en el aviso</b><br>
	<br>Cualquier cambio en este aviso se publicará en la Plataforma.
  </p>
</div>

</body>
</html>


{% endblock %}