{% extends 'baseInformacion.html' %}

{% block content %}

<html>
<head>
<style>
.content {
  border: 2px solid gray;
  padding: 8px;
  margin-inline: 5%;
  border-radius: 10px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: orange;
}

h1.p {
  text-align: left;
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: black;
}
</style>
</head>
<body>

<br>
<div class="content">
  <h1>Política de Envío</h1>
  <p>Desde GGEz, nos comprometemos a realizar envíos a cualquier parte del mundo de manera totalmente gratuita y en un plazo de 2 meses, dependiendo de tu lugar de residencia, de tal manera que usted como cliente solo debe preocuparse de introducir los datos correctos de envío y dejar que nosotros nos ocupemos del resto.
</div>
<br>

<div class="content">
  <h1>Política de Devoluciones</h1>
  <p>Para poder seguir permitiendo a nuestros clientes una política de envíos tan permisiva, hemos decidido que el proceso de devolución es incompatible con nuestra empresa, de tal manera que si el cliente introduce de forma errónea los datos de envío o hay algún problema con su pedido, GGEz no se hará responsable.
</div>
<br>

<div class="content">
  <h1>Términos de Servicio</h1>
	<h3> Respecto a la edad del cliente </h3>
  		<p> Actualmente no contamos con un sistema de comprobación de la legitimidad de la edad del cliente que realiza la compra, por lo que GGEz no se hará responsable de los conflictos que estos pudieran causar, pero se solicita un uso responsable de nuestra página web.
	<h3> ¿Qué tenemos para ofrecer? </h3>
		<p> En esta página encontrarás una gran variedad de videojuegos increíbles para la plataforma PC. Además el proceso de compra es de lo más intuitivo y rápido del mercado.
	<h3> ¿Qué esperamos que usted como cliente nos ofrezca?</h3>
		<p> Lo único que nosotros pedimos es responsabilidad y precaución con el uso de nuestra página, ya que como indicamos más arriba, ofrecemos envío completamente gratuitos a cualquier lado con la condición de que no realizamos devoluciones. Por lo que lo único que se le pide a usted como consumidor, es que sea responsable y que disfrutes mucho de los productos que adquieras.
	<h3> En caso de problemas </h3>
		<p> Por mucho cuidado y respeto y responsabilidad que tengamos tanto nosotros como página, como vosotros como clientes, somos conscientes de que puede seguir habiendo equivocaciones de ambas partes, por lo que le animamos a que en caso de encontrarte con algún tipo de incidencia, se ponga en contacto con nosotros a través de los datos que se le muestran en la página de contactos.
</div>

</body>
</html>


{% endblock %}